.nav {
  position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}

.nav i:hover {
  animation: shrink 0.2s ease-in forwards;
}

.nav i:nth-child(2) {
  display: inline-block;
  animation: sway 0.2s 0.9s 2;
}

@keyframes shrink {
  to {
    transform: scale(0.9);
  }
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  top: -7px;
  right: -7px;
  font-size: 10px;
  color: white;
  background-color: #dc5d46;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 2;
  animation: stot 0.4s ease-in-out 0.9s;
}

@keyframes sway {
  from {
    transform: rotateZ(10deg);
  }
  to {
    transform: rotateZ(-20deg);
  }
}

@keyframes stot {
  0% {
    transform: none;
  }
  20%,
  80% {
    transform: translateY(-5px) scale(1.3);
  }
  40%,
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes showNavBar {
  from {
    transform: translateY(80px);
  }
  to {
    transform: none;
  }
}

.nav {
  transform: translateY(80px);
  animation: showNavBar 0.5s ease-out forwards;
  animation-delay: 0.5s;
}

.circle {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 8px;
  border-radius: 5px;
  background-color: black;
  opacity: 0;
}

.circle:first-child {
  top: -10px;
  left: -2px;
  transform: rotateZ(-18deg);
  animation: blink 0.5s infinite;
}

.circle:nth-child(2) {
  top: -13px;
  left: 8px;
  animation: blink 0.5s 0.2s infinite;
}

.circle:nth-child(3) {
  top: -10px;
  left: 18px;
  transform: rotateZ(18deg);
  animation: blink 0.5s 0.4s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

.nav__list-link.explore {
  display: inline-block;
  animation: explore 1s 1s linear infinite forwards;
}

@keyframes explore {
  0% {
    transform: translateX(0px);
  }
  40% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.nav__list-link.turn-around {
  display: inline-block;
  animation: turn-around 0.8s infinite;
}

@keyframes turn-around {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(180deg);
  }
}
